* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-image: url(../images/VICTOR.jpg);
    background-repeat: no-repeat;
 background-size: cover;   
}



main{
    width: 100%;
    height: 100%;
    background-color: none;
}

form{
    background-color: white;
    width: 60%;
    margin: auto;
}

label{
    display: block;
}

input{
    margin-top: 10px;
}
    