*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


main{
    width: 200px ;
    height: 200px;
    border: 1px solid;
    margin: 150px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

div{
    width: 50px;
    height: 50px;
    border: 1px solid;
}


.first{
    background-color: red;
    position: relative;
    animation-name: movementone;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-duration: reverse;
    /* animation-delay: 5s; */
    
    
    
}

 @keyframes movementone {
    0%  {background-color: whitesmoke; top:0px; left:0px;}
    25% {background-color: yellow; top: 0px; left:150px}
    50% {background-color: blue; top: 150px; left:150px;}
    75% {background-color: green; top:150px; left:0px;}
    100% {background-color: aqua; top: 0px; left:0px;}
    } 

.second{
    background-color: blue;
    position:relative;
    animation-name: movementtwo;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-duration: reverse;


}

@keyframes movementtwo{
    0%{background-color: orange; top:0px; right: 0px}
    25%{background-color: brown; top:150px; right:0px}
    50%{background-color: lime; top:150px; right:150px;}
    75%{background-color: tan; top:0px; right:150px;}
    100%{background-color: teal; top:0px; right:0px}
}


.third{
    background-color: green;
}